<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>255010540429-nt3h6j9jpa3kc212ja65tqrdd7qtef28.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.255010540429-nt3h6j9jpa3kc212ja65tqrdd7qtef28</string>
	<key>API_KEY</key>
	<string>AIzaSyDkdS3Hp1_7gck-1xIdZvAoOHqyXfRsskI</string>
	<key>GCM_SENDER_ID</key>
	<string>255010540429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.unimelb.royli</string>
	<key>PROJECT_ID</key>
	<string>insclone-c439d</string>
	<key>STORAGE_BUCKET</key>
	<string>insclone-c439d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:255010540429:ios:4050a4054ae2287a</string>
	<key>DATABASE_URL</key>
	<string>https://insclone-c439d.firebaseio.com</string>
</dict>
</plist>
